@model CIS.Web.Infrastructure.Core.PaginationSet<CIS.Web.Models.PostViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    Tin tức
}

@{Html.RenderAction("Slide", "Home");}

<div id='breadcrumbs-row'>
    <div class='container'>
        <div class="row-fluid">
            <div class="span12">
                <p class='breadcrumbs'>Bạn đang ở trang: <a href='/tin-tuc' title='Home'>Tin Tức</a></p>
            </div>
        </div>
    </div>
</div>
<!-- / breadcrumbs-row -->
<!--Spread begin-->
<div id="spread">
    <div class="container">
        <div class="row-fluid">
            <div class="span3">
                <div id="sidenav" class="sidebar">
                    <div id="info-box">
                        <a>Tin Tức</a>
                    </div>
                    <hr />
                    @RenderPage("~/Views/Shared/Services.cshtml")                    
                </div>
            </div>
            <div class="span9">
                <div id="news-wrap">
                    <div class="title">
                        <h1>Nhóm Tin </h1>
                    </div>
                    @if (Model.Count > 0)
                    {
                        foreach (var post in Model.Items)
                        {
                            <div class="span12">
                                <i class="fa fa-circle-o"></i>
                                <h5><a href=@(string.IsNullOrEmpty(post.ReferenceUrl) ? ("/tin-tuc/"+@post.Alias+"-"+@post.ID) : post.ReferenceUrl) style="text-decoration: none;"> @post.Name</a> @Html.Raw(post.HotFlag ? "<span class=\"label label-warning\">HOT</span>" : "") <span style="color: darkred">(@((post.UpdatedDate != null) ? post.UpdatedDate.Value.ToString("dd/MM/yyyy") : post.CreatedDate.Value.ToString("dd/MM/yyyy")))</span></h5>

                            </div>
                        }
                    }
                    else
                    {
                        <div class="text-center">Không có tin tức nào được tìm thấy.</div>
                    }

                </div>
                <!--end content--->
                <br />
                @if (Model.TotalPages > 1)
                {
                    // Create numeric links
                    var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                    var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);
                    <div style='clear:both'></div>
                    <div style='float:right;'>
                        <div class="paging">
                            Page @Model.Page of @Model.TotalPages -
                            @if ((Model.Page - 1) > 0)
                            {
                                <a href="?page=@(Model.Page - 1)" aria-label="Previous">
                                    Previous
                                </a>
                            }

                            @if ((Model.Page - 1) < Model.TotalPages - 1)
                            {
                                <a href="?page=@(Model.Page + 1)" aria-label="Next">
                                    Next
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

