<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>@RenderSection("title", required: true)</title>
    <meta property="og:title" content="@ViewBag.Title">
    <meta property="og:description" content="Hỗ trợ dịch vụ CNTT cho sinh viên và Giảng viên">
    <meta property="og:image" content="slide/sl1.png" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />
    <link rel="shortcut icon" href="~/Assets/client/CIS-pro/cis-img/favicon.jpg">
    <link rel="icon" sizes="16x16 32x32 64x64" href="~/Assets/client/CIS-pro/cis-img/favicon.jpg">
    <!-- 	=================  CSS	================== -->
    @Styles.Render("~/css/base")
    @*<link rel="stylesheet" href="~/Assets/client/CIS-pro/owlcarousel/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/Assets/client/CIS-pro/owlcarousel/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/Assets/client/CIS-pro/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/Assets/client/CIS-pro/css/styleClone.css" />
        <link rel="stylesheet" href="~/Assets/client/CIS-pro/css/cisstyle.css" />
        <link rel="stylesheet" href="~/Assets/client/CIS-pro/css/fonts/icomoon/icomoon.css" type="text/css">*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    @*<link href="~/Assets/admin/libs/toastr/toastr.min.css" rel="stylesheet" />*@
    @RenderSection("css", required: false)
    <!--  CKEditor -->
    @*<script src="~/ckeditor/ckeditor.js"></script>*@

</head>

<body>
    <!-- ==========================  Header	==================== -->
    <header>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="search text-right">
                        <form action="/News/GetNewsByKeyword" method="post" style="margin: 0 0 0 0">
                            <i class="fas fa-search"></i><input type="search" placeholder="Tìm kiếm" name="keyword" id="searchBox">
                        </form>
                    </div>
                </div>
            </div>

            <a id="logo" href="/"><img alt="circle IT" src="~/Assets/client/CIS-pro/cis-img/circleit-logo1.png"></a>

            @{Html.RenderAction("MainMenu", "Home");}
        </div>
    </header>
    <!-- / header -->
    <!-- Carousel -->
    @if (TempData["AlertMessage"] != null)
    {
        <div id="toast-container" class="toast-top-right hide">
            <div class="toast @TempData["AlertType"]" aria-live="polite" style="display: block;">
                <div class="toast-message">@TempData["AlertMessage"]</div>
            </div>
        </div>
    }
    @RenderBody()

    <!-- =====================================	Footer  ======================== -->
    @{Html.RenderAction("QuickAccessFooter", "Home");}

    @{Html.RenderAction("LicenseFooter", "Home");}

    <!-- / footer -->
    <!-- ************************		Scripts 	****************** -->
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/plugins")
    <script src="~/Assets/client/js/controller/commonController.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @* <script src="/Assets/admin/vendors/jquery/dist/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @*<script src="/Assets/client/CIS-pro/owlcarousel/owl.carousel.min.js"></script>
        <script src="~/Assets/admin/libs/toastr/toastr.min.js"></script>
        <script src="~/Assets/client/js/common.js"></script>*@
    <script>
        $(document).ready(function () {

            $('#menu-toggle').click(function () {
                $('#menu').toggleClass('open');
                return false;
            });

        });

        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true
        });
    </script>
    @RenderSection("js", false)

</body>
</html>