@model CIS.Web.Models.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var aboutUs = (CIS.Web.Models.PostViewModel)ViewBag.AboutUs;
    var webPost = (CIS.Web.Models.PostViewModel)ViewBag.Web;
    var systemPost = (CIS.Web.Models.PostViewModel)ViewBag.System;
}


@{
    ViewBag.Title = "CIS - Dịch vụ hệ thống thông tin và phát triển Web";
    ViewBag.MetaDescription = "Dịch vụ hệ thống thông tin và phát triển Web - Trung Tâm DVCNTT";
    ViewBag.MetaKeywords = "IT Support, Website, Design Logo";
}


@{Html.RenderAction("Slide", "Home");}

<div id="services-row">
    <div class="container">
        <div class="row">
            <span class="services-title">DỊCH VỤ </span>
            <div class="col-sm-15 w3-animate-zoom-slow">
                <a href="/dich-vu-web" class="">
                    <img alt="web" src="/Assets/client/CIS-pro/cis-img/web.png">
                    <h2 class="aligncenter">Thiết kế Web</h2>
                </a>
            </div>
            <div class="col-sm-15">
                <!--empty -->
            </div>
            <div class="col-sm-15 w3-animate-zoom-slow">
                <a href="/dich-vu-thiet-ke-do-hoa" class="">
                    <img alt="dohoa" src="/Assets/client/CIS-pro/cis-img/dohoa.png">
                    <h2 class="aligncenter">Thiết kế Đồ Họa</h2>
                </a>
            </div>
            <div class="col-sm-15">
                <!--empty -->
            </div>
            <div class="col-sm-15 w3-animate-zoom-slow">
                <a href="/dich-vu-he-thong" class="">
                    <img alt="hethong" src="/Assets/client/CIS-pro/cis-img/hethong.png">
                    <h2 class="aligncenter">Hệ thống</h2>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="index-twitter">
    <div class="container">
        <div class="row-fluid">
            <div class="logoiu">
                <a href='https://hcmiu.edu.vn' class="logoiu">
                    <img src="/Assets/client/CIS-pro/cis-img/iu-logo.png">
                </a>
            </div>
            <div class="text-iu">
                <div class="tweet">
                    <a href="https://hcmiu.edu.vn" target="_blank" class="iulogo">
                        <h2 class="clWhite">Đại học Quốc Gia TP.HCM - Trường Đại học Quốc Tế </h2>
                        <span>website</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="index-main" class="new">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="block-title">Về chúng tôi</div>
                <p style="text-align:justify;">@aboutUs.Description</p>
                <p><a class="more" href="/gioi-thieu">Xem thêm</a></p>
            </div>
            @*<div class="span4 case-studies-wrap">
                    <div class="block-title">Dịch vụ Web</div>
                    <p>@webPost.Description</p>
                    <a class="more" href="/dich-vu-web">Xem chi tiết</a>
                </div>
                <div class="span4 case-studies-wrap">
                    <div class="block-title">Dịch vụ Hệ thống</div>
                    <p>@systemPost.Description</p>
                    <a class="more" href="/dich-vu-he-thong">Xem chi tiết</a>
                </div>*@
        </div>
    </div>
    <!-- / container -->
</div>



<div id="index-news">
    <div class="container">
        <div class="row-fluid">
            <a href="/tin-tuc" class="news-title">TIN TỨC</a>
            <div class="row-fluid">
                @foreach (var news in Model.ListNews)
                {
                    <div class="span4">
                        @{
                            var newsUrl = "";
                            if (!string.IsNullOrEmpty(news.ReferenceUrl))
                            {
                                newsUrl = news.ReferenceUrl;
                            }
                            else
                            {
                                newsUrl = "/tin-tuc/" + news.Alias + "-" + news.ID;
                            }
                        }
                        <a class="latest-news-item" href="@newsUrl">
                            <img class="news-img" alt="@news.Name" src="@news.Image" /><span class="latest-news-date">@news.CreatedDate.Value.ToString("dd MMMM yyyy")</span>
                            <h5>@news.Name</h5>
                            <p>@news.Description</p><span class="more-circle"></span>
                        </a>
                    </div>
                }
            </div>
            <!--End News-->
        </div>
    </div>
</div>